# Домашнее задание

Используя информацию по мидиям Петербурга и Магадана, которые представлены в виде двух массивов petersburg и magadan в разделе ANOVA тест, проверьте данные на нормальность и на наличие корреляции. Для этого объедините 2 массива в DataFrame. Обоснуйте выбор теста на корреляцию. Сделайте вывод по гипотезе.
 
 
Также ответьте на вопрос:
Какова разница в среднем размере мидии в зависимости от города-производителя. Обоснуйте выбор теста. Сделайте вывод по гипотезе.

In [1]:
import pandas as pd #для работы с таблицами

In [2]:
!pip install scipy

Requirement already satisfied: scipy in c:\users\sergk\appdata\local\programs\python\python310\lib\site-packages (1.10.1)
Requirement already satisfied: numpy<1.27.0,>=1.19.5 in c:\users\sergk\appdata\local\programs\python\python310\lib\site-packages (from scipy) (1.23.5)

[notice] A new release of pip is available: 23.0.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
!pip install statsmodels

Requirement already satisfied: statsmodels in c:\users\sergk\appdata\local\programs\python\python310\lib\site-packages (0.14.0)
Requirement already satisfied: numpy>=1.22.3 in c:\users\sergk\appdata\local\programs\python\python310\lib\site-packages (from statsmodels) (1.23.5)
Requirement already satisfied: scipy!=1.9.2,>=1.4 in c:\users\sergk\appdata\local\programs\python\python310\lib\site-packages (from statsmodels) (1.10.1)
Requirement already satisfied: pandas>=1.0 in c:\users\sergk\appdata\local\programs\python\python310\lib\site-packages (from statsmodels) (2.0.1)
Requirement already satisfied: packaging>=21.3 in c:\users\sergk\appdata\roaming\python\python310\site-packages (from statsmodels) (23.1)
Requirement already satisfied: patsy>=0.5.2 in c:\users\sergk\appdata\local\programs\python\python310\lib\site-packages (from statsmodels) (0.5.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\sergk\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.0->statsmodels) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\sergk\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.0->statsmodels) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sergk\appdata\roaming\python\python310\site-packages (from pandas>=1.0->statsmodels) (2.8.2)
Requirement already satisfied: six in c:\users\sergk\appdata\roaming\python\python310\site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)

[notice] A new release of pip is available: 23.0.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [27]:
petersburg  = [0.0974, 0.1352, 0.0817, 0.1016, 0.0968, 0.1064, 0.105]
magadan = [0.1033, 0.0915, 0.0781, 0.0685, 0.0677, 0.0697, 0.0764,
           0.0689]

Объедините два массива в DataFrame.

In [22]:
dict1={'peter':petersburg }
df_p=pd.DataFrame(dict1)

In [21]:
dict2={'mag ':magadan  }
df_m=pd.DataFrame(dict2)

In [23]:
f=[df_p,df_m]

In [24]:
data1=pd.concat(f,axis=1)
data1

    peter    mag
0  0.0974  0.1033
1  0.1352  0.0915
2  0.0817  0.0781
3  0.1016  0.0685
4  0.0968  0.0677
5  0.1064  0.0697
6  0.1050  0.0764
7     NaN  0.0689

In [25]:
data1['peter'] = data1['peter'].fillna(data1['peter'].median())
data1

    peter    mag
0  0.0974  0.1033
1  0.1352  0.0915
2  0.0817  0.0781
3  0.1016  0.0685
4  0.0968  0.0677
5  0.1064  0.0697
6  0.1050  0.0764
7  0.1016  0.0689

In [26]:
data1.corr()

          peter      mag
peter  1.000000  0.256665
mag    0.256665  1.000000

# Проверка данных на нормальность

In [ ]:
H0 = 'Данные распределены нормально'
Ha = 'Данные не распределены нормально (мы отвергаем H0)'

In [ ]:
alpha = 0.05   # уровень значимости

In [ ]:
from scipy.stats import shapiro

In [ ]:
_, p = shapiro(petersburg )
print('p=%.3f' % p)

# Интерпретация 

if p > alpha:
	print(H0)
else:
	print(Ha)

p=0.242
Данные распределены нормально

In [ ]:
_, p = shapiro(magadan)
print('p=%.3f' % p)

# Интерпретация 

if p > alpha:
	print(H0)
else:
	print(Ha)

p=0.036
Данные не распределены нормально (мы отвергаем H0)

#### т.к. данные magadan не распределены нормально, в этом случае для data выбирается тест U-критерий Манна-Уитни (критерий суммы рангов Уилкоксона).

In [ ]:
import scipy.stats as stats

## Сформулируем гипотезы:

Нулевая гипотеза: распределения размеров мидий одинаковы.

Альтернативная гипотеза: распределения размеров мидиий неодинаковы.

In [ ]:
# задаём уровень значимости
alpha = 0.05 
# проводим тест
_, p = stats.mannwhitneyu(petersburg, magadan)

print('p-value = {:.3f}'.format(p))
# интерпретируем результат
if p <= alpha:
    print('p-значение меньше, чем заданный уровень значимости {:.2f}. Отвергаем нулевую гипотезу.'.format(alpha))
else:
    print('p-значение больше, чем заданный уровень значимости {:.2f}. У нас нет оснований отвергнуть нулевую гипотезу.'.format(alpha))

p-value = 0.006
p-значение меньше, чем заданный уровень значимости 0.05. Отвергаем нулевую гипотезу.

Тест на корреляцию

In [28]:
data1.corr()

          peter      mag
peter  1.000000  0.256665
mag    0.256665  1.000000

Обоснуйте выбор теста на корреляцию. 

Значение коэффициента корреляции вдиапазоне 	0…+/- 0.3, что означает Отсутствие связи или очень слабая связь