# Домашнее задание

Используя информацию по мидиям Петербурга и Магадана, которые представлены в виде двух массивов petersburg и magadan в разделе ANOVA тест, проверьте данные на нормальность и на наличие корреляции. Для этого объедините 2 массива в DataFrame. Обоснуйте выбор теста на корреляцию. Сделайте вывод по гипотезе.
 
 
Также ответьте на вопрос:
Какова разница в среднем размере мидии в зависимости от города-производителя. Обоснуйте выбор теста. Сделайте вывод по гипотезе.

In [8]:
import pandas as pd #для работы с таблицами

In [9]:
petersburg = [0.0974, 0.1352, 0.0817, 0.1016, 0.0968, 0.1064, 0.105]
magadan = [0.1033, 0.0915, 0.0781, 0.0685, 0.0677, 0.0697, 0.0764,
           0.0689]

Объедините два массива в DataFrame.

In [14]:
df = pd.DataFrame(
    data = [
['petersburg ', 0.0974, 0.1352, 0.0817, 0.1016, 0.0968, 0.1064, 0.105],
['magadan', 0.1033, 0.0915, 0.0781, 0.0685, 0.0677, 0.0697, 0.0764,
           0.0689]
    ],
    columns= ['city', '1','2','3','4','5','6','7','8'],
    index = ['SPb', 'M']
    
)
display(df)

,city,1,2,3,4,5,6,7,8
SPb,petersburg,0.0974,0.1352,0.0817,0.1016,0.0968,0.1064,0.1050,NaN
M,magadan,0.1033,0.0915,0.0781,0.0685,0.0677,0.0697,0.0764,0.0689

Тест на корреляцию

Обоснуйте выбор теста на корреляцию.

Сделайте вывод по гипотезе.

Ответьте на вопрос: Какова разница в среднем размере мидии в зависимости от города-производителя

Обоснуйте выбор теста.

Сделайте вывод по гипотезе.